    </div>
    <div class="footer"></div>
    <footer>
        footer 파일입니다.
    </footer>
    </div>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="<%= host%>/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>