<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<% cards.forEach(function(val, index, arr) {
    var data = val; %>

    <div class="card"><%= data.title %></div>

<% })
%>
</body>
</html>
